{{define "detail"}}
<!DOCTYPE html>
<html>
{{template "head"}}
<body>
{{template "header" .}}
<div class="container">
    <h2>{{.target.Name}}</h2>
{{range .observers}}
    <div class="row col-md-12">
        <div id="detail-chart-{{.Id}}" style="height: 300px;"></div>
    </div>
{{end}}
</div>
{{template "footer"}}
<script>
    {{range .observers}}
    $.get("./api/data/full?t={{$.target.Id}}&o={{.Id}}&r={{$.timeRange}}", function (data) {
        paintFull("detail-chart-{{.Id}}", "{{.Name}}", data)
    });
    {{end}}
</script>
</body>
</html>
{{end}}
