{{define "index"}}
<!DOCTYPE html>
<html>
{{template "head"}}
<body>
{{template "header" .}}
<div class="container">
    <h2>{{.category.Name}}</h2>
    <h5 style="color: gray">注：点击图表标题打开详情页</h5>
{{range .targets}}
    <div class="row col-md-12">
        <div id="abbr-chart-{{.ID}}" style="height: 300px;"></div>
    </div>
{{end}}
</div>
{{template "footer" .}}
<script>
    {{range .targets}}
    $.get("./api/query/abbr?t={{.ID}}&r={{$.timeRange}}", function (data) {
        paintAbbr("abbr-chart-{{.ID}}", "{{.ID}}", "{{.Name}}", "{{.Note}}","{{$.timeRange}}", data.data)
    });
    {{end}}
</script>
</body>
</html>
{{end}}
